services:
  postgres:
    image: postgres:18
    container_name: socialone_postgres
    restart: always
    ports:
      - "${DB_PORT:-5432}:5432"
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - pgdata:/var/lib/postgresql
  app:
    build: .
    container_name: socialone_app
    restart: always
    ports:
      - "${PORT:-5000}:5000"
    env_file:
      - .env
    depends_on:
      - postgres
volumes:
  pgdata:
